body {
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.backgroundContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.base {
  z-index: 0;
  opacity: 1;
}

.overlay {
  z-index: 1;
  opacity: 1;
}

.fade {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}


.textContainer {
  padding: 16px 32px;  
  color: #fff;
}
.textContainer h1 {
  margin: 0px;
  margin-bottom: 24px;
  cursor:default;
  transition: font-size 0.2s;
}
.textContainer p {
  margin: 0px;
  transition: opacity 0.2s;
  cursor: pointer;
  width: max-content;
  transition: font-size 0.2s, margin 0.2s;
}
.textContainer p:hover {
  opacity: 0.8;
}
.textContainer p:active {
  opacity: 0.6;
}

.full h1 {
  font-size: 8vw;
}
.full p {
  font-size: 20px;
  margin-bottom: 32px;
}

.active {
  font-weight: 500;
}

.shrunk h1 {
  font-size: 32px;
}
.shrunk p {
  font-size: 16px;
  margin-bottom: 16px;
}